h1.card-title {
    font-size: 100px;
    font-weight: bold;
    /* color: #fff; */
    color: #000080;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #000080, 0 0 40px #000080, 0 0 50px #000080, 0 0 60px #000080, 0 0 70px #000080;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #f5f3ce, 0 0 40px #f5f3ce, 0 0 50px #f5f3ce, 0 0 60px #f5f3ce, 0 0 70px #f5f3ce, 0 0 80px #f5f3ce;
    }
  }

.card-img-overlay {
    font-family: 'Mountains of Christmas', cursive;
    color: #000080;
    font-size: 40px;
    font-weight: bold;
}

p.train-station {
    font-family: 'Mountains of Christmas', cursive;
    color: #000080;
    text-shadow: 3px 3px white;
    font-size: 80px;
    font-weight: bold;
}

h3 {
    font-family: 'Mountains of Christmas', cursive;
    color: white;
    text-shadow: 5px 5px #000080;
    font-size: 40px;
    font-weight: bold;
}

.sub-container {
    font-family: 'Mountains of Christmas', cursive;
}

